html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  
  }
  body {
    margin: 0; /* Remove default margin */
    font-family: "Arial", sans-serif;
    font-size: 21px; /* Set a default font size for scalability */
  
  }
  header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pictures/martinluther.jpg); /* Kilde til bilde: https://www.hiof.no/om/aktuelt/aktuelle-saker/2024/martin-er-ny-leder-for-over-7.500-studenter-.html  */
     background-size: cover;
    background-position: center center; /* Adjust for better framing of the text */
    position: relative; /* To position overlay */
    color: #ffffff; /* Default text color to white for all text in the header */
  }
  
  /* Adding an overlay for better text readability */
  header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* Lighten the overlay for a subtler effect */
    z-index: 1;
  }
  
  /* Container to hold your text and button */
  header > div {
    position: relative; /* Above the overlay */
    z-index: 2;
    text-align: center; /* Center-align the text for better focus */
    padding: 2rem; /* Add some padding */
    
  }
  
  
  
  header h1 {
    color: #fff;
    font-size: 2.5rem; /* Reduced size for better balance */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Smoother text shadow */
    margin-bottom: 0.5rem; /* Less margin to bring subtitle closer */
  }
  
  header p {
    
    font-size: 1rem; /* Smaller font size for subtlety */
    line-height: 1.5;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent; /* Remove background color */
    padding: 0; /* Remove padding */
    text-shadow: 2px 2px 4px rgba(22, 20, 20, 0.7); /* Apply text shadow for readability */
  }
  
  header a {
    background-color: white;
    color: #000; /* Dark text for the button */
    padding: 10px 20px; /* Reduced padding */
    border-radius: 25px; /* Rounded corners for the button */
    font-weight: bold; /* Make the button text bold */
    transition: all 0.3s ease; /* Transition for all properties */
    text-decoration: none;
    text-transform: uppercase; /* Capitalize the button text */
  
  }
  
  header a:hover {
    background-color: black; /* Solid color on hover */
    color: #f1c40f; /* Highlight color on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
  }
  
  #topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  #topBtn:hover {
    background-color: #555;
  }
  
  
 
  
  .bilde-bilde {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 15px;
      display: inline-block; /* Ensure it behaves like an inline element */
  }
  
  
  
  .scrollContainer {
    width: 100vw;
    min-height: 60vh;
    overflow: hidden;
    transition: background-image 2s;
  }
  
  .scrollContainer p{
   
    font-size: 1rem; /* Smaller font size for subtlety */
    line-height: 1.5;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent; /* Remove background color */
    padding: 0; /* Remove padding */
    text-shadow: 2px 2px 4px rgba(22, 20, 20, 0.7); /* Apply text shadow for readability */
  }
  
  
  
  .scrollText {
    margin: 50vh auto;
    max-width: 50rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
  }
  
  
  
  
  #changingBg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50vh;
  }
  #introduksjon {
    background-image: url(pictures/ektemartin.jpg); /* Foto tatt av Ezat Jakob  */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #introduksjon2 {
    background-image: url(pictures/lonely.jpg); /* Foto tatt av Ezat Jakob  */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #introduksjon3 {
    background-image: url(pictures/black.jpg); /* Foto tatt av Ezat Jakob  */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #mentalhelse {
    color: black;
  }

  ::selection{
    color: #fff;
    background: #ff7979;
  }
  .wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .row-1 section::before{
    right: -7px;
  }
  .row-2 section::before{
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon{
    top: 15px;
    left: -60px;
  }
  .row section .details,
  .row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row section .details .title{
    font-size: 22px;
    font-weight: 600;
  }
  .row section p{
    margin: 10px 0 17px 0;
  }
  .row section .bottom a{
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover{
    transform: scale(0.97);
  }
  @media(max-width: 790px){
    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section .icon{
      left: -60px;
    }
  }
  @media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }

  .article {
    max-width: 50rem;
    margin: 0 auto;
    display: block;
    clear: both;
  }
  
  .article p {
   
    font-size: 1rem; /* Smaller font size for subtlety */
    line-height: 2;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent; /* Remove background color */
    padding-top: 2em;
  }
  
  
  main {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
  }
  
  #map {
    height: 700px; /* Adjust to your preference for a horizontal layout */
    width: 100%; /* This will make the map take the full width of its container */
    margin: 10px auto;
  }
  
  
  
  
  article {
    border: 1px solid #5c5858;
    background: #f3f3f3;
    padding: 1.5rem;
    margin-bottom: 5px;
  }
  
  h1 {
    text-align: center;
    color: yellow;
    padding-top: 2em;
  }
  
  h2{
    font-size: 1.15rem;
    color:#000;
    padding-top: 2em;
    text-align: center;
    margin-right: 30px;
  }
  
  
  
  
  
  
  .navigation {
    display: flex;
    justify-content: center; /* Centers the nav items horizontally */
    align-items: center; /* Ensures vertical alignment */
    background-color: black; /* Optional: adds background color to the nav */
    padding: 10px 0;
    border-radius: 5px; /* Optional: adds rounded corners to the nav */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 15px; /* Adds space between the items */
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #f1c40f; /* Optional: color change on hover */
  }
  .container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
  }
  
  .text-content {
  
    padding: 20px;
    overflow: hidden; /* This will ensure the container adjusts properly around the floated image */
    line-height: 1.6; /* increase line height */
    color: #000000; /* softer than pure black */
    max-width: 600px; /* maximum width of the text */
    margin: auto; /* center it in the page */
    padding: 20px;
  }
  
  .audio-container {
    max-width: 400px; /* Set a max-width for the audio player container */
    margin: 20px; /* Add margin for spacing */
    text-align: center; /* Center-align the audio player */
  }
  
  audio {
    width: 100%; /* Make the audio player take the full width of the container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    border-radius: 20px; /* Optional: Add rounded corners */
    outline: none; /* Remove the default focus outline */
    border: 2px solid #000000; /* Add a border to the player */
  }
  
  
  .image-content  {
    max-width: 600px; /* Set a max-width for the audio player container */
    margin: 20px auto; /* Add margin for spacing */
    text-align: center; /* Center-align the audio player */
  }
  
  .video-content {
    max-width: 100%; /* Ensures that the container doesn't exceed the width of the screen */
    margin: 20px auto; /* Centers the video within its parent container and adds some margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds subtle shadow for depth */
    border-radius: 10px; /* Rounded corners for a modern look */
    overflow: hidden; /* Ensures the video corners are also rounded */
    position: relative; /* For potential absolute positioning of elements inside */
    padding-top: 56.25%; /* Aspect ratio padding hack (16:9 aspect ratio) */
    background: rgb(0, 0, 0); /* Provides a black background for unloaded video content */
  }
  
  .video-content video {
    width: 100%; /* Full width of its container */
    height: 100%; /* Full height of its container */
    position: absolute; /* Absolute position */
    top: 0;
    left: 0;
  }
  
  
  
  figcaption {
    margin-top: 8px;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-shadow: #ffffff 1px 1px;
    text-align: center;
    font-size: 15px;
  }
  
  
  
  
  
  img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    border: 3px solid #ddd; /* Add a border to the image */
    border-radius: 8px; /* Optional: if you want rounded corners */
  }
  
  .image-caption {
    text-align: center;
    font-style: italic;
    padding: 4px;
    padding-top: 1em;
  }
  
  #powerliftingChart {
    width: 800px;
    height: 800px;
    position: relative;
    margin: auto;
    margin-top: 2em;
  }
  
  
  
  #klubbkart {
    width: 800px;
    max-height: 700px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #klubbkart button {
    font-size: 0.8em;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #klubbkart button:hover {
    background-color: #0056b3;
  }
  
  #klubbkart h3 {
    font-size: 1em;
    margin: 0.5em 0;
  }
  
  
  
  footer {
    clear: both;
    text-align: center;
    padding: 1rem 0;
    background: #000000;
    color: #ffffff;
    width: 100%;
    position: relative;
  }
  
  
  @media (max-width: 600px) {
    #klubbkart {
      width: 100%;
      max-height: 589px;
      padding: 10px;
      text-align: left;
    }
  
    #klubbkart button {
      font-size: 10px;
      padding: 8px 12px;
      margin: 5px 0;
      text-align: left;
    }
  
    #klubbkart h3 {
      font-size: 11px;
      margin: 0.3em 0;
      text-align: left;
    }
  }
  
  
  @media (max-width: 700px) {
    header {
      height: auto;
      padding: 20px;
      background-position: center center;
    }
  
    header h1{
      font-size: 18px;
    }
  
    header p{
      font-size: 14px;
    }
  
    header a{
      font-size: 14px;
    }
    .container,
    .timeline {
      width: 95%;
      max-width: 95%;
    }
  
    #powerliftingChart {
      position: relative;
      width: 95% !important;
      height: 95% !important;
    }
  
    h1 {
      font-size: 1rem;
    }
  
    
    .textSection {
      padding: 0 20px;
    }
  
    .textSection p{
      font-size: 16px;
    }
    
    .scrollText{
      
      width: 90%;
      padding: 3px;
      
     
      
    }
    
    .scrollText p{
      
      font-size: 16px;
    }
  
    .text-content,
    .image-content {
      float: none;
      width: auto;
      margin: 20px 0;
    }
  
    .image-content img {
      width: 100%;
      margin: 0 auto;
    }
  
    .navigation {
      text-align: center;
      font-size: 14px;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      width: 100%;
      margin: 0.5rem 0;
    }
  
    .nav-link {
      padding: 0.5rem 0;
    }
  
    .circle {
      width: 100px;
      height: 100px;
      padding-top: 25px;
    }
  
    
  
    .text-box {
      font-size: 14px;
    }
  
  
  
  
     
    }
    .image-caption {
      font-size: 15px;
      
    }
  
  
  
    
    footer {
      padding: 1rem;
      width: 100%;
      font-size: 16px;
    }
  
  
  
  